<div class="container">

        <div class="primary-header p-4 text-center">
            <h1 class="text-light">TURNTABL CLIENT MANAGEMENT SYSTEM - <span id="tcms">(TCMS)</span></h1>
        </div>
    
        <div class="card w-50 mx-auto p-5 my-5" style="width: 18rem;">
            <img class="mx-auto" src="../../assets/images/_github-512.png" alt="Card image cap" width="50%">
            <div class="card-body text-center">
                <a class="btn btn-raised btn-success w-75 mx-auto" href="https://github.com/login/oauth/authorize?scope=user:email&client_id=3a56107e56522d9221e6">Login with Github</a>
            </div>
        </div>
    </div>
        
