<div class="container my-2">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/customers">Customers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/reports">Reports</a>
        </li>
    </ul>
</div>