
<div class="container my-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="/index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/customers">Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/reports">Reports</a>
            </li>
        </ul>
</div>
    
<router-outlet></router-outlet>
<!-- Routed components go here -->

<footer class="footer text-center text-muted my-2">
    <p>{{ footer }}</p>
</footer>
