<div class="container-fluid m-container">
    <div class="main-content">
        <h1 class="text-light">{{ title }} - <span id="tcms">{{ sub }}</span></h1>
        <div class="py-4">
            <!-- <a routerLink="/customers" type="button" class="btn btn-raised btn-primary w-25 mx-3"> Customers</a>
            <a routerLink="/projects" type="button" class="btn btn-raised btn-success w-25 mx-3">Projects</a> -->
            <a class="btn btn-raised btn-warning" href="https://github.com/login/oauth/authorize?scope=user:email&client_id=3a56107e56522d9221e6">Login with Github</a>
        </div>
    </div>
</div>